// color variables
$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Background: hsl(207, 26%, 17%);
$Dark-Mode-Text: hsl(0, 0%, 100%);

$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Light-Mode-Elements: hsl(0, 0%, 100%);
// $Light-Mode-Elements: hsl(0, 16%, 94%);
//font-size variable
$Homepage-Items: 14px;
$Detail-Page: 16px;
//responsive
$Mobile: 375px;
$Desktop: 1440px;
